<!DOCTYPE html>
<head>
    <title>Hello World Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <h1>Animals</h1>
    <div id="animal-container"></div>
    <%- include('partials/footer.ejs') %>
</body>
<script src="/util/getAnimals.js"></script>

</html>