<!DOCTYPE html>
<html>
<head>
    <title>Hello World Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <h1>Animals</h1>
    <%- include('partials/footer.ejs') %>
</body>
</html>