header{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto; 
  background-color: lightgreen;
  color: white;

}

nav {
  grid-row: 2; /* Place the nav bar in the second row */
  width: 100%; /* Ensure the nav bar extends across the entire header */
}

body {
    background-color: lightgreen;
}

h1 {
    color: white;
    background-color: lightgreen;
    text-align: center;
}

p {
    color: darkgreen;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  }
  
  li {
    display: inline;
    float: left;
  }
  
  li a {
    display: block;
    color: darkgreen;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: lightgreen;
  }


  button {
    display: block;
    grid-row: 1;
    grid-column: 2;
    background-color: white;
    color: darkgreen;
    float:right;
    border: darkgreen;
    border-radius: 12px;
    border: 4px;
  }
 /* Form Action CSS */

 .form  {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
button.submit {
  padding: 10px 20px;
  background-color: darkgreen;
  border: 1px solid #ddd;
  color: white;
}

button.submit :hover {
  background-color: white;
}

.animal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid darkgreen;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}

.animalImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.animalName {
  color: darkgreen;
  font-size: 20px;
  margin-bottom: 5px;
}

.animalDescription {
  color: darkgreen;
  font-size: 16px;
  text-align: center;
}