header{
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto; 
  grid-template-rows: auto auto auto;  
  background-color: lightgreen;
  color: white;

}

nav {
  grid-row: 2; /* Place the nav bar in the second row */
  grid-column: 1 / 5; /* Span the nav bar across all four columns */
  width: 100%; /* Ensure the nav bar extends across the entire header */
}

body {
    background-color: lightgreen;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: darkgreen;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  }
  
  li {
    display: inline;
    float: left;
  }
  
  li a {
    display: block;
    color: darkgreen;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: lightgreen;
  }


  .signup-button {
    grid-column: 4;
    justify-self: end; 
    margin-right: 20px; 
    padding: 10px 20px;
    background-color: darkgreen;
    color: white;
    border: lightgreen;
    border-radius: 12px;
    border: 4px;
  }
 




/*Animal Card CSS */

.animal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
  background-color: white;
  border: 1px solid darkgreen;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}

.animalImage {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.animalName {
  color: darkgreen;
  font-size: 20px;
  margin-bottom: 5px;
}

.animalDescription {
  color: darkgreen;
  font-size: 16px;
  text-align: center;
}

.likeButton {
  color: gray;
}

.likeButton.liked {
  color: red;
}